* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 13, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
#app {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #09790d;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    321deg,
    rgba(9, 121, 13, 1) 40%,
    rgb(0, 0, 0) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header iconify-icon {
  color: black;
  font-size: 25px;
}

.todo-list-wrapper {
  width: 450px;
  margin: 50px auto;
  padding: 20px;
  background-color: #02b5b1;
  border-radius: 20px;
}
.done-list-wrapper h2 {
  color: white;
}
.done-list-wrapper {
  width: 450px;
  margin: 50px auto;
  padding: 20px;
  background-color: #088328;
  border-radius: 20px;
}
#todo-title {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 8px;
}

#dones-list {
  margin-top: 20px;
}

#todos-list {
  margin-top: 20px;
}
#todos-list li {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid #25626e;
  align-items: center;
  border-radius: 20px;
}

#todos-list li i {
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  display: inline-flex;
  align-items: end;
  justify-content: space-between;
  padding: 8px;
  margin: 2px;
}
#todos-list li h2 {
  width: 50%;
  color: rgb(70, 69, 69);
  font-size: 18px;
}

#dones-list li {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid greenyellow;
  align-items: center;
  border-radius: 20px;
}
#dones-list li i {
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  display: inline-flex;
  justify-content: flex-end;
  align-items: end;
  justify-content: space-between;
  padding: 8px;
  margin: 2px;
}

#dones-list li h2 {
  width: 70%;
  color: rgb(17, 46, 17);
  font-size: 18px;
}
.add-todo {
  width: 100%;
  height: 40px;
  background-color: #778ce2;
  box-shadow: 0 0 26px 1px #778ce2;
  color: white;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 10px;
}
.submit-edit-todo {
  width: 100%;
  height: 40px;
  background-color: #f9a16a77;
  color: white;
  margin-top: 8px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
}
.submit-edit-todo.active {
  background-color: orange;
  box-shadow: 0 0 26px 1px orange;
  outline: none;
}

.submit-edit-todo:focus {
  background-color: green;
  outline: none;
}
.edit-todo {
  margin-left: auto;
  margin-right: 8px;
  display: flex;
  color: #f95f00;
  font-size: 20px;
  font-weight: bold;
}

.delete-todo {
  color: red;
  font-size: 20px;
}
.send-done {
  color: green;
  font-size: 20px;
}
.Undo-done {
  color: blue;
  font-size: 20px;
}
.delete-done {
  color: red;
  font-size: 20px;
}
